@import '../../common/style.module.css';

.appContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #e6e8f0;
    flex: 1;
    align-items: stretch;
    width: 100%;
}
